/* app/styles/routes/$categorySlug.css */
.products-wrapper {
  display: flex;
  justify-content: center;
  padding: 30px;
}

.products-section {
  width: 100%;
  max-width: 1120px;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  width: 100%;
}