/* app/components/CategoryCard/CategoryCard.css */
.categories-wrapper {
  display: flex;
  justify-content: center;
  padding: 1rem;
  width: 100%;
}

.categories-section {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  max-width: 1120px;
}

.categories-container {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  overflow-x: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.categories-container::-webkit-scrollbar {
  display: none;
}

.category-card {
  width: 100%;
  min-width: 150px;
  scroll-snap-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--light-grey-secondary);
  border-radius: 0.8rem;
  border: 1px solid var(--light-grey);
  overflow: hidden;
  text-decoration: none; /* Added to remove link underline */
}

.category-image {
  width: 60%;
  padding: 20px 0;
}

.category-content {
  background-color: #fff;
  padding: 15px;
  width: 100%;
}

.category-title {
  text-align: center;
  font-size: 0.75rem; 
  font-weight: 500;
  color: var(--font-color-primary);
}

