/* app/components/BrandCard/BrandCard.css */
.brands-wrapper {
  width: 100%;
  padding: 0 1rem;
}
  
.brands-section {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  max-width: 1120px;
  margin: auto;
}

.brands-container {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  overflow-x: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.brands-container::-webkit-scrollbar {
  display: none;
}

.brand-card {
  width: 100%;
  min-width: 150px;
  scroll-snap-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--light-grey-secondary);
  border-radius: 0.8rem;
  border: 1px solid var(--light-grey);
  overflow: hidden;
  text-decoration: none;
}

.brand-image {
  width: 80%;
  padding: 20px 0;
}

.brand-content {
  background-color: #fff;
  padding: 1.25rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--font-color-primary);
  gap: 0.5rem;
  flex-grow: 1;
}

.brand-content .description {
  font-size: var(--small-text-size);
  font-weight: var(--small-text-weight);
  text-align: justify;
}

.brand-title {
  text-align: center;
  font-size: 1rem; 
  font-weight: 700;
}

@media (max-width: 768px) {
  .brand-card {
    min-width: 80vw;
  }
}